/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  style: none;
}

body {
  height: 100vh;
  background-image: url(../assets/mainbackground.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .progress {
  margin-top: 5vh;
  height: 5vh;
  width: 600px;
  border-radius: 50px;
  background-color: rgba(7, 121, 41, 0.53);
}
body .progress .progress-done {
  height: 100%;
  width: 0;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, rgba(255, 77, 48, 0.54), rgba(185, 1, 1, 0.53));
  opacity: 0;
  transition: 1s ease;
}
body .main-game {
  width: 1000px;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
body .main-game .troll {
  height: 900px;
  width: 900px;
  background-image: url(../assets/troll/walk/WALK000.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .main-game .troll .col-1 {
  margin-left: 7%;
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .main-game .troll .col-1 .arm {
  margin-top: 75%;
  height: 300px;
  width: 200px;
}
body .main-game .troll .col-2 {
  padding-top: 25%;
  height: 100%;
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .main-game .troll .col-2 .head {
  height: 180px;
}
body .main-game .troll .col-2 .belly {
  height: 200px;
}
body .main-game .troll .col-2 .leg {
  height: 100px;
}
body .main-game .troll .col-3 {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .main-game .troll .col-3 .arm {
  margin-top: 85%;
  height: 250px;
  width: 150px;
}
body .main-game .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 2.5rem;
  left: 13rem;
  padding: 10px;
  width: 450px;
  height: 200px;
  background-image: url(../assets/score.png);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 35px;
  font-weight: 700;
}
body .main-game .score .score-number {
  margin-top: 10%;
  width: 150px;
  height: 80px;
  text-align: center;
}
body .main-game .score .info {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 300;
  color: #a96a13;
}
body .main-game .viewfinder {
  position: absolute;
  width: 140px;
  height: 160px;
  background-image: url(../assets/bron.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body .buttons {
  height: 30vh;
  width: 30vw;
  border: 1px solid red;
}
body .buttons .btn {
  font-size: 40px;
  font-family: sans-serif;
  border-radius: 30px;
  cursor: pointer;
}
body .buttons .btn:hover {
  background-color: #77b977;
}
body .buttons .start {
  height: 80px;
  width: 200px;
  background-image: url(../assets/start.png);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 230px;
  right: 200px;
}
body .buttons .shot {
  height: 80px;
  width: 200px;
  background-image: url(../assets/stop.png);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 130px;
  right: 200px;
}
body .buttons .shot:hover {
  background-image: url(../assets/start.png);
}
body .buttons .stop {
  height: 80px;
  width: 200px;
  background-image: url(../assets/stop.png);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 30px;
  right: 200px;
}

@-webkit-keyframes move {
  0% {
    top: 20%;
    left: 20%;
  }
  10% {
    top: 52%;
    left: 17%;
  }
  15% {
    top: 34%;
    left: 62%;
  }
  20% {
    top: 44%;
    left: 10%;
  }
  30% {
    top: 24%;
    left: 20%;
  }
  40% {
    top: 54%;
    left: 66%;
  }
  50% {
    top: 24%;
    left: 15%;
  }
  60% {
    top: 42%;
    left: 33%;
  }
  70% {
    top: 44%;
    left: 50%;
  }
  90% {
    top: 35%;
    left: 45%;
  }
  100% {
    top: 60%;
    left: 10%;
  }
}

@keyframes move {
  0% {
    top: 20%;
    left: 20%;
  }
  10% {
    top: 52%;
    left: 17%;
  }
  15% {
    top: 34%;
    left: 62%;
  }
  20% {
    top: 44%;
    left: 10%;
  }
  30% {
    top: 24%;
    left: 20%;
  }
  40% {
    top: 54%;
    left: 66%;
  }
  50% {
    top: 24%;
    left: 15%;
  }
  60% {
    top: 42%;
    left: 33%;
  }
  70% {
    top: 44%;
    left: 50%;
  }
  90% {
    top: 35%;
    left: 45%;
  }
  100% {
    top: 60%;
    left: 10%;
  }
}
@-webkit-keyframes moveTwo {
  0% {
    transform: translate(10vh, -10vh);
  }
  20% {
    transform: translate(3vh, 10vh);
  }
  40% {
    transform: translate(17vh, 22vh);
  }
  60% {
    transform: translate(7vh, 2vh);
  }
  80% {
    transform: translate(22vh, 8vh);
  }
  100% {
    transform: translate(-10vh, 10vh);
  }
}
@keyframes moveTwo {
  0% {
    transform: translate(10vh, -10vh);
  }
  20% {
    transform: translate(3vh, 10vh);
  }
  40% {
    transform: translate(17vh, 22vh);
  }
  60% {
    transform: translate(7vh, 2vh);
  }
  80% {
    transform: translate(22vh, 8vh);
  }
  100% {
    transform: translate(-10vh, 10vh);
  }
}
@-webkit-keyframes trollBasic {
  0% {
    background-image: url(../assets/troll/walk/WALK000.png);
  }
  2% {
    background-image: url(../assets/troll/walk/WALK001.png);
  }
  4% {
    background-image: url(../assets/troll/walk/WALK002.png);
  }
  6% {
    background-image: url(../assets/troll/walk/WALK003.png);
  }
  8% {
    background-image: url(../assets/troll/walk/WALK004.png);
  }
  10% {
    background-image: url(../assets/troll/walk/WALK005.png);
  }
  12% {
    background-image: url(../assets/troll/walk/WALK006.png);
  }
  14% {
    background-image: url(../assets/troll/walk/WALK007.png);
  }
  16% {
    background-image: url(../assets/troll/walk/WALK008.png);
  }
  18% {
    background-image: url(../assets/troll/walk/WALK009.png);
  }
  20% {
    background-image: url(../assets/troll/run/RUN000.png);
  }
  22% {
    background-image: url(../assets/troll/run/RUN001.png);
  }
  24% {
    background-image: url(../assets/troll/run/RUN002.png);
  }
  26% {
    background-image: url(../assets/troll/run/RUN003.png);
  }
  28% {
    background-image: url(../assets/troll/run/RUN004.png);
  }
  30% {
    background-image: url(../assets/troll/run/RUN005.png);
  }
  32% {
    background-image: url(../assets/troll/run/RUN006.png);
  }
  34% {
    background-image: url(../assets/troll/run/RUN007.png);
  }
  36% {
    background-image: url(../assets/troll/run/RUN008.png);
  }
  38% {
    background-image: url(../assets/troll/run/RUN009.png);
  }
  40% {
    background-image: url(../assets/troll/attack/ATTACK000.png);
  }
  42% {
    background-image: url(../assets/troll/attack/ATTACK001.png);
  }
  44% {
    background-image: url(../assets/troll/attack/ATTACK002.png);
  }
  46% {
    background-image: url(../assets/troll/attack/ATTACK003.png);
  }
  48% {
    background-image: url(../assets/troll/attack/ATTACK004.png);
  }
  50% {
    background-image: url(../assets/troll/attack/ATTACK005.png);
  }
  52% {
    background-image: url(../assets/troll/attack/ATTACK006.png);
  }
  54% {
    background-image: url(../assets/troll/attack/ATTACK007.png);
  }
  56% {
    background-image: url(../assets/troll/attack/ATTACK008.png);
  }
  58% {
    background-image: url(../assets/troll/attack/ATTACK009.png);
  }
  60% {
    background-image: url(../assets/troll/jump/JUMP000.png);
  }
  62% {
    background-image: url(../assets/troll/jump/JUMP001.png);
  }
  64% {
    background-image: url(../assets/troll/jump/JUMP002.png);
  }
  66% {
    background-image: url(../assets/troll/jump/JUMP003.png);
  }
  68% {
    background-image: url(../assets/troll/jump/JUMP004.png);
  }
  70% {
    background-image: url(../assets/troll/jump/JUMP005.png);
  }
  72% {
    background-image: url(../assets/troll/jump/JUMP006.png);
  }
  74% {
    background-image: url(../assets/troll/jump/JUMP007.png);
  }
  76% {
    background-image: url(../assets/troll/jump/JUMP008.png);
  }
  78% {
    background-image: url(../assets/troll/jump/JUMP009.png);
  }
  80% {
    background-image: url(../assets/troll/idle/IDLE000.png);
  }
  82% {
    background-image: url(../assets/troll/idle/IDLE001.png);
  }
  84% {
    background-image: url(../assets/troll/idle/IDLE002.png);
  }
  86% {
    background-image: url(../assets/troll/idle/IDLE003.png);
  }
  88% {
    background-image: url(../assets/troll/idle/IDLE004.png);
  }
  92% {
    background-image: url(../assets/troll/idle/IDLE005.png);
  }
  94% {
    background-image: url(../assets/troll/idle/IDLE006.png);
  }
  96% {
    background-image: url(../assets/troll/idle/IDLE007.png);
  }
  98% {
    background-image: url(../assets/troll/idle/IDLE008.png);
  }
  100% {
    background-image: url(../assets/troll/idle/IDLE009.png);
  }
}
@keyframes trollBasic {
  0% {
    background-image: url(../assets/troll/walk/WALK000.png);
  }
  2% {
    background-image: url(../assets/troll/walk/WALK001.png);
  }
  4% {
    background-image: url(../assets/troll/walk/WALK002.png);
  }
  6% {
    background-image: url(../assets/troll/walk/WALK003.png);
  }
  8% {
    background-image: url(../assets/troll/walk/WALK004.png);
  }
  10% {
    background-image: url(../assets/troll/walk/WALK005.png);
  }
  12% {
    background-image: url(../assets/troll/walk/WALK006.png);
  }
  14% {
    background-image: url(../assets/troll/walk/WALK007.png);
  }
  16% {
    background-image: url(../assets/troll/walk/WALK008.png);
  }
  18% {
    background-image: url(../assets/troll/walk/WALK009.png);
  }
  20% {
    background-image: url(../assets/troll/run/RUN000.png);
  }
  22% {
    background-image: url(../assets/troll/run/RUN001.png);
  }
  24% {
    background-image: url(../assets/troll/run/RUN002.png);
  }
  26% {
    background-image: url(../assets/troll/run/RUN003.png);
  }
  28% {
    background-image: url(../assets/troll/run/RUN004.png);
  }
  30% {
    background-image: url(../assets/troll/run/RUN005.png);
  }
  32% {
    background-image: url(../assets/troll/run/RUN006.png);
  }
  34% {
    background-image: url(../assets/troll/run/RUN007.png);
  }
  36% {
    background-image: url(../assets/troll/run/RUN008.png);
  }
  38% {
    background-image: url(../assets/troll/run/RUN009.png);
  }
  40% {
    background-image: url(../assets/troll/attack/ATTACK000.png);
  }
  42% {
    background-image: url(../assets/troll/attack/ATTACK001.png);
  }
  44% {
    background-image: url(../assets/troll/attack/ATTACK002.png);
  }
  46% {
    background-image: url(../assets/troll/attack/ATTACK003.png);
  }
  48% {
    background-image: url(../assets/troll/attack/ATTACK004.png);
  }
  50% {
    background-image: url(../assets/troll/attack/ATTACK005.png);
  }
  52% {
    background-image: url(../assets/troll/attack/ATTACK006.png);
  }
  54% {
    background-image: url(../assets/troll/attack/ATTACK007.png);
  }
  56% {
    background-image: url(../assets/troll/attack/ATTACK008.png);
  }
  58% {
    background-image: url(../assets/troll/attack/ATTACK009.png);
  }
  60% {
    background-image: url(../assets/troll/jump/JUMP000.png);
  }
  62% {
    background-image: url(../assets/troll/jump/JUMP001.png);
  }
  64% {
    background-image: url(../assets/troll/jump/JUMP002.png);
  }
  66% {
    background-image: url(../assets/troll/jump/JUMP003.png);
  }
  68% {
    background-image: url(../assets/troll/jump/JUMP004.png);
  }
  70% {
    background-image: url(../assets/troll/jump/JUMP005.png);
  }
  72% {
    background-image: url(../assets/troll/jump/JUMP006.png);
  }
  74% {
    background-image: url(../assets/troll/jump/JUMP007.png);
  }
  76% {
    background-image: url(../assets/troll/jump/JUMP008.png);
  }
  78% {
    background-image: url(../assets/troll/jump/JUMP009.png);
  }
  80% {
    background-image: url(../assets/troll/idle/IDLE000.png);
  }
  82% {
    background-image: url(../assets/troll/idle/IDLE001.png);
  }
  84% {
    background-image: url(../assets/troll/idle/IDLE002.png);
  }
  86% {
    background-image: url(../assets/troll/idle/IDLE003.png);
  }
  88% {
    background-image: url(../assets/troll/idle/IDLE004.png);
  }
  92% {
    background-image: url(../assets/troll/idle/IDLE005.png);
  }
  94% {
    background-image: url(../assets/troll/idle/IDLE006.png);
  }
  96% {
    background-image: url(../assets/troll/idle/IDLE007.png);
  }
  98% {
    background-image: url(../assets/troll/idle/IDLE008.png);
  }
  100% {
    background-image: url(../assets/troll/idle/IDLE009.png);
  }
}
@-webkit-keyframes trollDie {
  0% {
    background-image: url(../assets/troll/hurt/HURT000.png);
  }
  5% {
    background-image: url(../assets/troll/hurt/HURT001.png);
  }
  10% {
    background-image: url(../assets/troll/hurt/HURT002.png);
  }
  15% {
    background-image: url(../assets/troll/hurt/HURT003.png);
  }
  20% {
    background-image: url(../assets/troll/hurt/HURT004.png);
  }
  25% {
    background-image: url(../assets/troll/hurt/HURT005.png);
  }
  30% {
    background-image: url(../assets/troll/hurt/HURT006.png);
  }
  35% {
    background-image: url(../assets/troll/hurt/HURT007.png);
  }
  40% {
    background-image: url(../assets/troll/hurt/HURT008.png);
  }
  45% {
    background-image: url(../assets/troll/hurt/HURT009.png);
  }
  50% {
    background-image: url(../assets/troll/die/DIE000.png);
  }
  60% {
    background-image: url(../assets/troll/die/DIE001.png);
  }
  65% {
    background-image: url(../assets/troll/die/DIE002.png);
  }
  70% {
    background-image: url(../assets/troll/die/DIE003.png);
  }
  75% {
    background-image: url(../assets/troll/die/DIE004.png);
  }
  80% {
    background-image: url(../assets/troll/die/DIE005.png);
  }
  85% {
    background-image: url(../assets/troll/die/DIE006.png);
  }
  90% {
    background-image: url(../assets/troll/die/DIE007.png);
  }
  95% {
    background-image: url(../assets/troll/die/DIE008.png);
  }
  100% {
    background-image: url(../assets/troll/die/DIE009.png);
  }
}
@keyframes trollDie {
  0% {
    background-image: url(../assets/troll/hurt/HURT000.png);
  }
  5% {
    background-image: url(../assets/troll/hurt/HURT001.png);
  }
  10% {
    background-image: url(../assets/troll/hurt/HURT002.png);
  }
  15% {
    background-image: url(../assets/troll/hurt/HURT003.png);
  }
  20% {
    background-image: url(../assets/troll/hurt/HURT004.png);
  }
  25% {
    background-image: url(../assets/troll/hurt/HURT005.png);
  }
  30% {
    background-image: url(../assets/troll/hurt/HURT006.png);
  }
  35% {
    background-image: url(../assets/troll/hurt/HURT007.png);
  }
  40% {
    background-image: url(../assets/troll/hurt/HURT008.png);
  }
  45% {
    background-image: url(../assets/troll/hurt/HURT009.png);
  }
  50% {
    background-image: url(../assets/troll/die/DIE000.png);
  }
  60% {
    background-image: url(../assets/troll/die/DIE001.png);
  }
  65% {
    background-image: url(../assets/troll/die/DIE002.png);
  }
  70% {
    background-image: url(../assets/troll/die/DIE003.png);
  }
  75% {
    background-image: url(../assets/troll/die/DIE004.png);
  }
  80% {
    background-image: url(../assets/troll/die/DIE005.png);
  }
  85% {
    background-image: url(../assets/troll/die/DIE006.png);
  }
  90% {
    background-image: url(../assets/troll/die/DIE007.png);
  }
  95% {
    background-image: url(../assets/troll/die/DIE008.png);
  }
  100% {
    background-image: url(../assets/troll/die/DIE009.png);
  }
}
@-webkit-keyframes weaponRotate {
  0% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes weaponRotate {
  0% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
/*# sourceMappingURL=main.css.map */
